---
import type { APIFoxesResponse } from '../types/api';
import Card from './Card.astro';

const fetchFoxes = async (count) => {
    const promises = Array.from({ length: count }, () => fetch('https://randomfox.ca/floof/'));
    const responses = await Promise.all(promises);
    const data = await Promise.all(responses.map(res => res.json()));
    return data;
};

const data: APIFoxesResponse[] = await fetchFoxes(10); // Cambia el número 5 por la cantidad de imágenes que deseas
const generateId = () => Math.random().toString(36).substring(2, 15);
---

<div class="grid grid-cols-4 gap-2 mx-auto place-content-center">
        {
            data.map(({ image, link }) => (
                <div class="">
                    <Card         
                        id={generateId()}
                        img={image}
                        link={link}
                    />
                </div>
            ))
        }
</div>
