---
import HeaderButton from './HeaderButton.astro';
console.log('javascript');
---

<header class="py-6 px-8 mx-auto flex justify-between items-center gap-4">
    <div>
        <span class="text-white text-5xl font-bold">Aloy</span>
    </div>
    <div>
        <nav class="flex gap-10 items-center justify-between text-center">
            <HeaderButton href="/">
                Start
            </HeaderButton>
            <HeaderButton href="/projects">
                Who am i
            </HeaderButton>
            <HeaderButton href="/about-me">
                My projects
            </HeaderButton>
            <HeaderButton href="/contact">
                
            </HeaderButton>            
        </nav>
    </div>
    
</header>